[submodule "js-uprtcl-modules"]
path = js-uprtcl-modules
url = git@github.com:uprtcl/js-uprtcl-modules
[submodule "js-uprtcl-remotes"]
path = js-uprtcl-remotes
url = git@github.com:uprtcl/js-uprtcl-remotes
[submodule "js-uprtcl-connections"]
path = js-uprtcl-connections
url = git@github.com:uprtcl/js-uprtcl-connections
[submodule "js-uprtcl-core"]
path = js-uprtcl-core
url = git@github.com:uprtcl/js-uprtcl-core

[submodule "intercreativity-react"]
path = apps/intercreativity-react
url = git@github.com:uprtcl/intercreativity-react.git

[submodule "demo-simple"]
path = apps/demo-simple
url = git@github.com:uprtcl/demo-simple.git

[submodule "alchemy"]
path = apps/alchemy-2
url = git@github.com:uprtcl/alchemy.git

[submodule "linked-thoughts"]
path = apps/linked-thoughts
url = git@github.com:uprtcl/linked-thoughts.git

[submodule "kusama-intercreativity"]
path = apps/kusama-intercreativity
url = git@github.com:uprtcl/kusama-intercreativity.git

[submodule "intercreativity-reader"]
path = apps/kusama-reader-example
url = git@github.com:uprtcl/intercreativity-reader.git

 