[submodule "js-uprtcl"]
	path = js-uprtcl
	url = git@github.com:uprtcl/js-uprtcl.git
	branch = develop
[submodule "linked-thoughts"]
	path = linked-thoughts
	url = git@github.com:uprtcl/linked-thoughts.git
	branch = develop
[submodule "js-uprtcl-server"]
	path = js-uprtcl-server
	url = git@github.com:uprtcl/js-uprtcl-server.git
	branch = develop
[submodule "blockchain-watchman-uprtcl"]
	path = blockchain-watchman-uprtcl
	url = git@github.com:sotous/blockchain-watchman-uprtcl.git
	branch = develop
